.App {
  text-align: center;
  margin: 10px 0px 0px 10px;
  text-decoration: none;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #074f57;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #9ece9a;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.full-space {
  height: 100%;
}

.Row-space {
  padding: 5px 0px 5px 0px;
}

.Row-space a {
  background-color:#9ece9a ;
  color: black;
  margin: 10px;
}
.icon {
  height: 40px;
  width: 40px;
  margin: 5px;
  opacity: 70%;
}
.icon:hover {
  opacity: 100%;
}

.supplemental-space {
  height: 100px;
}
.contactForm button {
  background-color:#9ece9a ;
  color: black;
}
.mb-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.footer {
  position: fixed;
  bottom: 0; 
  width: 100%;
  margin: auto; 
  background-color: #074f57;
  
}
.header-test {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(52,130,139,1) 91%, rgba(46,133,150,1) 100%);
  color: #9ece9a;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
}

.about p {
  padding-top: 10%;
}
.card-img-top {
  margin:auto;
  
}
/* .card-img, .card-img-bottom, .card-img-top {
  width:50%;
  height: 6rem;
 
} */
.theCardImage {
  width: 6rem;
  height: 6rem;
  margin: auto;
  align-content: center;
}
.cardButton {
  background-color:#9ece9a ;
  color: black;
}

.footer-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.profilePic {
  height: 400px;
  width: 400px;
  margin: 5px;
  border-radius: 50%;
}
.navbar-brand {
  color: #9ece9a;
  text-decoration: underline;
}
.download-link {
  color:#077187;
}


.extraSpace {
  height: 200px;
}

